/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
}

/* UTILITIES */
.container {
    width: 1180px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
}

.w-50 {
    width: 50%;
}

.btn {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fcb9ac;
    border: 1px solid #fcb9ac;
    border-radius: 5px;
}

.btn-orange {
    text-align: center;
    color: #fff;
    background-color: #fe775a;
    border: 1px solid transparent;
}

.btn-orange-big {
    display: inline-block;
    padding: 20px 35px;
}

.btn-white {
    text-align: center;
    background-color: #fff;
    border: 1px solid transparent;
}

.fa-check-circle {
    color: #fe775a;
}

.main-bg {
    background-color: #f4f9fd;
}

.bg-footer {
    background-color: #32495b;
}

.small-text {
    font-size: 12px;
}

p {
    line-height: 28px;
}

a {
    text-decoration: none;
    color: #33475b;
}

li {
    list-style: none;
}

h2 {
    font-size: 30px;
}

/* HEADER */
/* Nav-one */
.nav-one {
    line-height: 80px;
    background-color: #f4f9fd;
    border-bottom: 1px solid #000;
}

.nav-one-left .language::after {
    content: '';
    padding-left: 20px;
    border-right: 2px solid #000;
}

.nav-one-left span:last-child {
    padding-left: 20px;
}

.nav-one-right {
    text-align: right;
}

.nav-one-right .fa-search {
    padding-right: 20px;
    color: #00a5bd;
}

.nav-one-right a:not(.btn-orange) {
    margin-right: 20px;
}

/* Nav-Bottom */
.nav-two {
    line-height: 80px;
}

.nav-two-left img {
    vertical-align: middle;
}

.nav-two-right {
    text-align: right;
}

.nav-two-right li {
    display: inline-block;
    margin-left: 20px;
}

.nav-two-right li:first-child {
    margin-left: 0;
}

.nav-two-right a {
    margin-right: 15px;
}

/* MAIN */
/* Banner */
.banner {
    height: 610px;
    background-color: #fff4ef;
    background-image: url(../img-hubspot/jumbotron.png);
}

.banner-left {
    padding-top: 70px;
}

.banner-left h1 {
    margin-bottom: 35px;
    font-size: 40px;
}

.banner-left p:not(.small-text),
.banner-left a {
    margin-bottom: 35px;
}

.banner-footer {
    height: 85px;
    background-color: #afebe4;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

/* Main-Content */
.main-header {
    padding: 50px 170px;
    text-align: center;
}

.main-header img {
    display: inline-block;
    width: 250px;
}
.main-header h2 {
    margin-bottom: 35px;
}

.main-header p {
    display: inline;
}

.main-header hr {
    display: inline-block;
    width: 10px;
    vertical-align: middle;
}

/* Tabella */
.tab-header {
    height: 350px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.tab {
    width: calc(100% / 3 - 30px);
    height: 650px;
    margin: 45px 0;
    background-color: #fff;
}

.tab-header .image-button {
    width: 30%;
    padding-top: 60px;
    text-align: center;
}

.tab-header .image-button img {
    width: 140px;
    margin-bottom: 20px;
}

.tab-header .tab-header-text {
    width: 70%;
    padding: 60px 120px 0 0;

}

.tab-header .tab-header-text h3 {
    font-size: 30px;
}

.tab-header .tab-header-text p {
    padding: 30px 0 20px;
}

.tab-header .tab-header-text h4 {
    display: inline-block;
    padding: 0 50px 25px 0;
}

.tab-header .tab-header-text hr {
    display: inline-block;
    vertical-align: middle;
    width: 480px;
}

.tab-header .tab-header-text li {
    display: inline-block;
}

.tab-header .tab-header-text i,
.tab i {
    margin-right: 10px;
}

.tab-header .tab-header-text a {
    margin-right: 20px;
}


.tab.left {
    padding: 20px 35px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.tab.left img {
    width: 100px;
}

.tab.left h3 {
    padding: 20px 0 30px;
    font-size: 30px;
}

.tab.left hr {
    margin: 50px 0 35px;
}

.tab.left ul {
    padding: 20px 0 40px;
    text-align: left;
}

.tab.center {
    margin: 45px 45px;
    padding: 20px 35px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.tab.center img {
    width: 124px;
}

.tab.center h3 {
    padding: 20px 0 30px;
    font-size: 30px;
}

.tab.center hr {
    margin: 50px 0 35px;
}

.tab.center ul {
    padding: 20px 0 40px;
    text-align: left;
}

.tab.right {
    padding: 20px 35px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.tab.right img {
    width: 91px;
}

.tab.right h3 {
    padding: 20px 0 30px;
    font-size: 30px;
}

.tab.right hr {
    margin: 50px 0 35px;
}

.tab.right ul {
    padding: 20px 0 40px;
    text-align: left;
}

/* Gradient */
.bg-gradient {
    height: 700px;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to right, #00a9b8, #00bba7);
}

.bg-gradient .text-gradient {
    padding: 50px 0;
}

.bg-gradient .text-gradient h2 {
    padding-bottom: 30px;
}

.bg-gradient .tab-gradient {
    width: calc(100% / 4);
    height: 170px;
    padding: 18px 0;
}

.bg-gradient .row-one {
    border-bottom: 1px solid #fff;
}

.bg-gradient .row-one .left,
.bg-gradient .row-one .left-center,
.bg-gradient .row-one .right-center,
.bg-gradient .row-two .left,
.bg-gradient .row-two .left-center,
.bg-gradient .row-two .right-center {
    border-right: 1px solid #fff;
}

.bg-gradient .text-big-gradient {
    padding: 12px 0;
    font-size: 40px;
    font-weight: bold;
}

.bg-gradient .text-small-gradient {
    font-size: 12px;
}

.bg-gradient .row-two .right .image-gradient {
    height: 38px;
}

/* Brand */
.brand {
    height: 250px;
}

.left-brand {
    width: 30%;
    height: 100%;
    text-align: center;
}

.left-brand .text-big {
    padding: 40px 0;
    font-size: 38px;
    font-weight: bold;
}

.left-brand #bold {
    font-weight: bold;
}

.left-brand div:nth-child(3) {
    padding: 10px 0;
}

.right-brand {
    width: 70%;
    height: 100%;
    padding-top: 40px;
    text-align: center;
}

.right-brand .ul-one {
    margin-bottom: 35px;
}

.right-brand li {
    display: inline-block;
    padding-right: 20px;
}

.right-brand li img {
    width: 140px;
    vertical-align: middle;
}

/* Start */
.start {
    height: 460px;
}

.left-start {
    height: 100%;
    padding: 50px 0;
}

.left-start h3 {
    font-size: 33px;
}

.left-start p {
    padding: 30px 0;
}

.right-start {
    height: 100%;
    padding-top: 50px;
}

.right-start .image-start {
    float: right;
}

.right-start .image-start img {
    width: 300px;
}

/* FOOTER */
/* Footer-Top */
.footer-top {
    height: 400px;
}

.footer-top .footer-tab {
    width: calc(100% / 4);
    height: 80%;
}

.footer-top .footer-tab li {
    padding: 10px 0;
}

.footer-top .footer-tab li:first-child {
    padding: 30px 0 20px;
    font-weight: bold;
}

.footer-top .footer-tab a,
.footer-top .footer-tab i {
    color: #b6c2cf;
}

.footer-top .footer-tab a.btn.btn-white {
    color: #000;
}

.footer-top .footer-tab .white {
    color: #fff;
}

.footer-tab.right li:last-child {
    padding-top: 20px;
}

.footer-tab.right .list-two li {
    display: inline-block;
    padding: 20px 30px 20px 0;
}

.footer-tab.right .list-two li:last-child {
    padding-right: 0;
}


