/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
}

/* UTILITIES */
.container {
    width: 1180px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
}

.w-50 {
    width: 50%;
}

.btn {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fcb9ac;
    border: 1px solid #fcb9ac;
    border-radius: 5px;
}

.btn-orange {
    text-align: center;
    color: #fff;
    background-color: #fe775a;
}

/* HEADER */
/* Nav-one */
.nav-one {
    line-height: 80px;
    background-color: #f4f9fd;
    border-bottom: 1px solid #000;
}

.nav-one-left .language::after {
    content: '';
    padding-left: 20px;
    border-right: 2px solid #000;
}

.nav-one-left span:last-child {
    padding-left: 20px;
}

.nav-one-right {
    text-align: right;
}

.nav-one-right .fa-search {
    padding-right: 20px;
    color: #00a5bd;
}

.nav-one-right a:not(.btn-orange) {
    margin-right: 20px;
}

/* Nav-Bottom */
.nav-two {
    line-height: 80px;
}

.nav-two-left img {
    vertical-align: middle;
}

.nav-two-right {
    text-align: right;
}

.nav-two-right li {
    display: inline-block;
    margin-left: 20px;
    list-style: none;
}

.nav-two-right li:first-child {
    margin-left: 0;
}

.nav-two-right a {
    margin-right: 15px;
    color: #33475b;
    text-decoration: none;

}

/* MAIN */
/* Banner */
.banner {
    height: 610px;
    background-color: #fff4ef;
    background-image: url(../img-hubspot/jumbotron.png);
}

.banner-left {
    padding-top: 70px;
}

.banner-left h1 {
    margin-bottom: 35px;
    font-size: 40px;
}

.banner-left p:not(.small-text) {
    margin-bottom: 35px;
    line-height: 28px;
}

.banner-left .btn-orange {
    display: inline-block;
    padding: 20px;
    min-width: 190px;
    margin-bottom: 35px;
}

.banner-left .small-text {
    font-size: 12px;
}

.banner-footer {
    height: 85px;
    background-color: #afebe4;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

